.center.hero-unit
  %h1 Путь Воина::Перезагрузка

  %h2
    Это главная страница
    <a href="*">Путь Воина::Перезагрузка</a>

  = link_to "Регистрация!", signup_path, class: "btn btn-large btn-primary"
