%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "Путь Воина::Перезагрузка", '#', id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Главная",         root_path
          %li= link_to "Помощь",          help_path
          %li= link_to "Авторизоваться",  '#'
